/* Basic styling for the footer */
footer {
    background-color: #faf5f1;
    color: #8c837c;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-top {

    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
    padding: 3em 5em;
}

/* Style for each footer column */
.footer-column {
    flex: 1;
    margin: 0 20px;
    /* border: 1px solid red; */
    width: fit-content;
}

/* Style for headings in footer columns */
.footer-column h4{
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--primary-col);
}

/* Style for footer links */
.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: #8c837c;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: var(--primary-col);
}


.footer-about {

    flex: 2;
}

.footer-about .logo img {

    width: 300px;
}

.footer-about p {

    margin-top: 20px;
    width: 90%;
}

.footer-bottom {
    background-color: #f5f5f5;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #777; 
}
